// Custom styles.
 body {
    background-image:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
	background-size: 100% 100%;
    }